body {
    background: url("../images/upload.jpg") no-repeat;
    background-size: 100%;
    font-family: acumin-pro, sans-serif;
    margin: 0;
}

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 445px;
    margin: 7em auto;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    color: #5B5FE3;
    font-family: 'acumin-pro', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.un{
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;

    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'acumin-pro', sans-serif;
}

form.form1 {
    padding-top: 40px;
}


.un:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;

}


a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #5B5FE3;
    text-decoration: none
}
textarea{
    resize: none;
}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #5B5FE3, #70C8FA);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'acumin-pro', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.04);
}
input[type=file] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.close {
    width: 30px;
    height: 30px;
    position: relative;
}
.close:after {
    content: '';
    height: 30px;
    border-left: 2px solid #5B5FE3;
    position: absolute;
    transform: rotate(45deg);
    left: 20px;
    top:5px;
}

.close:before {
    content: '';
    height: 30px;
    border-left: 2px solid #5B5FE3;
    position: absolute;
    transform: rotate(-45deg);
    left: 20px;
    top:5px;
}

.input-file-trigger{
    display: inline-block;
    background: linear-gradient(to right, #5B5FE3, #70C8FA);
    color: white;
    cursor: pointer;
    border: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'acumin-pro', sans-serif;
    margin-left: 29.5%;
    font-size: 13px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.04);
    cursor: pointer;
    border-radius: 5em;
    margin-bottom: 10px;
}

.input-file-container {
    position: relative;

}
#agb{
    margin-left: 32.5%;
    font-family: 'acumin-pro', sans-serif;
    color: #5B5FE3;
    text-align: center;
    margin-top: 10px;
}

.js .input-file {
    position: absolute;
    top: 0; left: 0;
    width: 225px;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
}

.file-return {
    margin: 0;
}
.file-return:not(:empty) {
    margin: 1em 0;
}
.js .file-return {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
    text-align: center;
}
.js .file-return:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: normal;
    margin-left: 20%;
    color: #5B5FE3;
    margin-top: 0px;
}

main{
    padding-top: 29px;
}

